.main {
  flex: 1;
}
.board_content {
  padding: 20px;
  color: #808492;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.status span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(25, 197, 236);
  margin-inline-end: 3px;
}
.box {
  background-color: #2c2c38;
  padding: 10px;
  margin-block-end: 20px;
  border-radius: 5px;
  cursor: pointer;
  /* width: 20vw; */
  min-width: 80px;
  border-radius: 10px;
  border: solid 2px rgb(68, 68, 76);
}
.box h4 {
  color: white;
  margin: 0;
}
@media (min-width: 1040px) {
  .box {
    width: 20vw;
  }
}
@media (min-width: 850px) and (max-width: 1040px) {
  .box {
    width: 18vw;
  }
}
@media (min-width: 767px) and (max-width: 850px) {
  .box {
    width: 16vw;
  }
  .box h4 {
    font-size: 14px;
  }
  .box p {
    font-size: 14px;
  }
}
@media (max-width: 850px) {
  .box h4 {
    font-size: 14px;
  }
  .box p {
    font-size: 14px;
  }
}
@media (min-width: 588px) and (max-width: 767px) {
  .box {
    width: 24vw;
  }
}
@media (min-width: 188px) and (max-width: 588px) {
  .box {
    width: 20vw;
  }
}
